# Ignore Quartus temp and lock files
*.flock
*.rpt
*.smsg
*.bak
*.log
*.qmsg
*.rdb
*.wdb

# Ignore Quartus-generated folders
db/
incremental_db/
output_files/
work/

# Ignore ModelSim files
transcript
vsim.wlf
wlf*